
$blue: rgba(48, 65, 152, 1.00);
$blue_l: rgba(89, 103, 172, 1.00);

$yellow: rgba(255, 219, 3, 1.00);
$orange: rgba(238, 118, 75, 1.00);

$purple:rgba(175, 171, 213, 1.00);
$purple-d:rgba(102, 57, 138, 1.00);

$pinkorange: rgba(231, 84, 64, 1.00);

$green: rgba(18, 132, 94, 1.00);