@import "Ginkgo";
@import "color";

.iconImg {
  display: inline-block;
  width: 100%;
  max-width: 30px;
}

.visionImg {
  display: inline-block;
  width: 100%;
  max-width: 1085px;
}

.newsImgBg {
  display: inline-block;
  width: 100%;
  position: absolute;
  z-index: -1;
  bottom: -75px;
  left: 0;

  @include range-width(0, 450px) {
    bottom: -19px;
  }
}

.titleImg {
  display: inline-block;
  width: 100%;
  max-width: 700px;
}

.indexNews-l {
  display: inline-block;
  width: 100%;
  max-width: 262px;
  position: absolute;
  left: 10px;
  bottom: 0;

  @include range-width(770px, 1025px) {
    max-width: 212px;
  }

  @include range-width(450px, 770px) {
    max-width: 162px;
  }

  @include range-width(0, 450px) {
    display: none;
  }
}

.indexNews-r {
  display: inline-block;
  width: 100%;
  max-width: 243px;
  position: absolute;
  right: 10px;
  bottom: 0;

  @include range-width(770px, 1025px) {
    max-width: 193px;
  }

  @include range-width(450px, 770px) {
    max-width: 173px;
  }

  @include range-width(0, 450px) {
    display: none;
  }
}

.footerImg {
  display: inline-block;
  width: 100%;
  max-width: 200px;
  position: absolute;
  right: 10px;
  bottom: 0;

  @include range-width(770px, 1025px) {
    max-width: 150px;
  }

  @include range-width(450px, 770px) {
    max-width: 120px;
  }

  @include range-width(0, 450px) {
    display: none;
  }
}

.embed-container { 
  position: relative; 
  padding-bottom: 56.25%; 
  height: 0; 
  overflow: hidden; 
  max-width: 100%;
  margin: 60px 0;

  &.member_share {
    margin: 0 0 20px 0;
  }

  iframe, object, embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
  }

  @include range-width(0, 770px) {
    margin: 35px 0;
  }
}

.pageImg_l {
  display: inline-block;
  width: 100%;
  max-width: 253px;
  float: left;

  @include range-width(770px, 1025px) {
    max-width: 200px;
  }

  @include range-width(450px, 770px) {
    max-width: 150px;
  }

  @include range-width(0, 450px) {
    max-width: 120px;
  }
}

.pageImg_r {
  display: inline-block;
  width: 100%;
  max-width: 419px;
  float: right;
  margin-top: 69px;

  @include range-width(770px, 1025px) {
    max-width: 369px;
    margin-top: 40px;
  }

  @include range-width(450px, 770px) {
    max-width: 319px;
    margin-top: 2px;
  }

  @include range-width(0, 450px) {
    display: none;
  }
}




.tf_boxs {
  display: inline-block;
  width: 100%;
  padding: 10px 20px;
  color: white;
  font-size: 1.2rem;

  &.to {
    background-color: rgba(247, 150, 70, 1.00);
  }

  &.tored {
    background-color: red;
  }

  &.togreen {
    background-color: green;
  }
}

$changeWidth: 770px; //螢幕寬多少要改變

@media screen and (min-width: 0) and (max-width: #{$changeWidth - 1px}) {
  .table {
    display: block;
    width: 100%;
    background-color: white;

    .tr {
      display: block;
      // margin: 10px;
      // border: 1px solid rgba(247, 150, 70, 1.00);

      .td {
        display: block;
        border-right: 1px solid rgba(247, 150, 70, 1.00);
        border-bottom: 1px solid rgba(247, 150, 70, 1.00);
        border-left: 1px solid rgba(247, 150, 70, 1.00);
        text-align: left;
        padding: 10px;
        color: black;

        &.tll {
          border-left: 1px solid rgba(247, 150, 70, 1.00);
        }

        &.tdd {
          border-bottom: 2px solid rgba(247, 150, 70, 1.00);
        }

        &:before {
          content: attr(title);
          display: inline-block;
          width: 120px;
          font-size: .8rem;
          color: rgba(247, 150, 70, 1.00);
          font-weight: 600;
        }
      }
    }
  }
}
@media screen and (min-width: $changeWidth) {
  .table {
    display: table;
    width: 100%;
    background-color: white;

    .tr {
      display: table-row;
      @include clearfix();
      
      .td {
        display: table-cell;
        border-right: 1px solid rgba(247, 150, 70, 1.00);
        border-bottom: 1px solid rgba(247, 150, 70, 1.00);
        font-size: 1rem;
        color: black;
        padding: 10px 0;

        &.tl {
          border-left: 1px solid rgba(247, 150, 70, 1.00);
        }
      }

      &:first-child { // 第一行的 tr
        
        .td {
          position: relative;

          &:before {
            content: attr(title);
            display: inline-block;
            width: 100%;
            background-color: rgba(253, 234, 218, 1.00);
            font-size: 1rem;
            color: black;
            padding: 10px 0;
            margin-top: -10px;
            margin-bottom: 10px;
          }

          &.to {
            &:before {
              border-bottom: 1px solid rgba(247, 150, 70, 1.00);
            }
          }
        }
      }
    }
  }
}

.theader {
  display: inline-block;
  width: 100%;
}


.border_TD_p {
  border-top: 2px dotted $pinkorange;
  border-bottom: 2px dotted $pinkorange;
}



/* flexslider */
.flexslider{
  position:relative;
  width: 100%;
  height:595px;
  overflow:hidden;
  
  // background:url(/img/loading2.gif) 50% no-repeat;

  @include range-width(0, 450px) {
    height:220px;
  }
}

.slides{
  position:relative;
  z-index:1;
  list-style: none;
  margin: 0;
  padding: 0;
  @include border-radius(10px);
  overflow: hidden;

  li {
    height:525px;

    @include range-width(0, 450px) {
      height: 151px;
    }

    a {
      display:block; 
      width:100%; 
      height:100%; 
      text-align:left; 
      text-indent:-9999px
    }
  }
}


.flex-control-nav {
  position:absolute;
  bottom:10px;
  z-index:2;
  width:100%;
  text-align:center;
  padding-left: 0;

  li {
    display:inline-block;
    width:14px;
    height:14px;
    margin:05px;
    *display:inline;
    zoom:1;
  }

  a {
    display:inline-block;
    width:14px;
    height:14px;
    line-height:40px;
    overflow:hidden;
    background:url(../img/dot.png) right 0 no-repeat;
    cursor:pointer;
  }

  .flex-active {
    background-position:0 0;
  }
}

.flex-direction-nav {
  position:absolute;
  z-index:3;
  left:0;
  width:100%;
  top:45%;
  list-style: none;

  li {
    list-style: none;
    a {
      display:block;
      width:50px;
      height:50px;
      overflow:hidden;
      cursor:pointer;
      position:absolute;

      &.flex-prev {
        left:60px;
        // background:url(../img/prev3.png) center center no-repeat;
      }

      &.flex-next {
        right:60px;
        // background:url(../img/next3.png) center center no-repeat;
      }
    }
  }
}

